;; shadow-cljs configuration
{:source-paths ["src/clj", "src/cljs", "src/cljc", "test"]
 :dependencies [[prismatic/dommy "1.1.0"]
                [garden "1.3.10"]]
 :builds
 {:test
  {:target :node-test
   :output-to "target/test/main.js"
   :autorun   true}}}